*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}


.navbar{
    background:rgb(0,0,0,0.5);
    margin-right:10px;
    height:50px;
    width:100%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2rem;
    position:sticky;
    top:0;
    z-index:999;
}

.navbar__container{
    display:flex;
    justify-content: space-between;
    height:80px;
    z-index:1;
    width:100%;
    max-width:1300px;
    margin: 0 auto;
    padding:0 50px;

}


.navbar__menu{
    display:flex;
    align-items: center;
    list-style: none;
}

.logo{
    height:40px;
    margin-top:13px;
}


.navbar__item{
    height:80px;
}

.navbar__links{
    color:#fff;
    display:flex;
    align-items: center;
    justify-content: center;
    width:125px;
    text-decoration: none;
    height:100%;
    transition: all 0.3s ease;
}

.navbar__btn{
    font-weight: bold;
    font-size: 15px;
    display:flex;
    justify-content:center ;
    align-items: center;
    padding:0 1rem;
    width:100%;
}

.button{
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding:10px 20px;
    height:100%;
    width:100%;
    border:none;
    outline:none;
    border-radius: 20px;
    background: #b42424;
    color:#fff;
    transition: 0.3s ease-in;
    
}   


.navbar__links:hover{
    color:rgb(224, 115, 115);
    transition:all 0.3s ease;
}

.text-msg {
    position:relative;
    text-align: center;
    top:250px;
    letter-spacing:1px;
    line-height: 26px;
   
}

.text-msg h1{
    font-size:75px;
    line-height: 100px;
    color:#fff;
}

.text-msg p{
    font-weight: bold;
    margin-bottom:100px;
}
.text-msg a{
    display:inline-block;
    border-radius: 6px;
    border:2px solid #252524;
    padding:10px 30px;
    text-decoration: none;
}

span{
    color:#1d0a2c;
}
.header{
    background:rgba(0,0,100,0.2);
    height:100vh;
}
.video-background{
    position:absolute;
    right:0;
    bottom:0;
    min-width:100%;
    min-height:100%;
    width:auto;
    height:auto;
    z-index:-1;
}

@media (min-aspect-ratio:16/9)
{
   .video-background{
    width:100%;
    height:auto;
   } 
}
@media (max-aspect-ratio:16/9)
{
   .video-background{
    width:auto;
    height:100%;
   } 
}
/*services section*/

.wrapper{
    font-family: 'raleway';
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:#dcd2e9;

}

.wrapper h1{
    font-size:3rem;
    margin:25px 0;
    text-align: center;
    font-weight:600;
    color:rgb(9, 3, 44)
}

.content-box{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width:1000px;
    margin-top:30px;
}

.card{
    min-height: 10px;
    width:300px;
    padding:30px;
    border-radius: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    margin:10px 4px;
    box-shadow:0px 15px 30px rgba(0,0,0,0.2);
    transition:0.3s;
}

.card i{
    margin:20px;
    font-size:40px;
    color:#ff5724;

}

.card h2{
    margin-bottom: 12px;
    font-weight:400;
    text-align: center;
}

.card p{
    color:#6c757d;
    text-align: center;

}

.card:hover i,
.card:hover p{
    color:#fff;
}

.card:hover h2{
    font-weight:600;
    color:#f2f2f2;
}

.card:nth-child(1):hover{
    background:linear-gradient(45deg,
                                 rgba(255,28,8,0.7) 0%,
                                    rgba(255,0,82,0.7)100%),
                                    url('images/P1.jpg');
    background-size: cover;       
}

.card:nth-child(2):hover{
    background:linear-gradient(45deg,
                                 rgba(255,28,8,0.7) 0%,
                                    rgba(255,0,82,0.7)100%),
                                    url('images/P1.jpg');
    background-size: cover;       
}

.card:nth-child(3):hover{
    background:linear-gradient(45deg,
                                 rgba(255,28,8,0.7) 0%,
                                    rgba(255,0,82,0.7)100%),
                                    url('images/P1.jpg');
    background-size: cover;       
}

.card:nth-child(4):hover{
    background:linear-gradient(45deg,
                                 rgba(255,28,8,0.7) 0%,
                                    rgba(255,0,82,0.7)100%),
                                    url('images/P1.jpg');
    background-size: cover;       
}

.card:nth-child(5):hover{
    background:linear-gradient(45deg,
                                 rgba(255,28,8,0.7) 0%,
                                    rgba(255,0,82,0.7)100%),
                                    url('images/P1.jpg');
    background-size: cover;       
}

.card:nth-child(6):hover{
    background:linear-gradient(45deg,
                                 rgba(255,28,8,0.7) 0%,
                                    rgba(255,0,82,0.7)100%),
                                    url('images/P1.jpg');
    background-size: cover;       
}

/*Footer section*/

.footer__wrapper{
    background:#dcd2e9;
}
footer{
    width:100%;
    bottom: 0;
    background:linear-gradient(to right, #00093c, #2d0b00);
    color:#fff;
    padding: 100px 0  30px;
    border-top-left-radius: 125px;
    font-size:13px;
    line-height: 20px;
}

.row{
    width:85%;
    margin:auto;
    display:flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col{
    flex-basis: 25%;
    padding:10px;
}

.col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}

.logo{
    width:80px;
    margin-bottom:30px;
}

.col h3{
    width:fit-content;
    margin-bottom: 40px;
    position: relative;
}

.email-id{
    width:fit-content;
    border-bottom: 1px solid #ccc;
    margin:20px 0;
}

ul li{
    list-style:none ;
    margin-bottom:12px;
}

ul li a{
    text-decoration: none;
    color:#fff;
}

form{
    padding-bottom: 15px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:1px solid #fff;
    margin-bottom:50px;
}

form .far{
    font-size: 18px;
    margin-right: 10px;
}

form input{
    width:100%;
    background: transparent;
    color:#ccc;
    border:0;
    outline:none;
}

form button{
    background: transparent;
    border:0;
    outline:none;
    cursor:pointer;

}

form button .fas{
    font-size: 16px;
    color:#ccc;
} 

.social-icons .fab{
    text-decoration: none;
    width:40px;
    height:40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color:rgb(0, 0, 0);
    background:#fff;
    margin-right:15px;
    cursor:pointer;
}

hr{
    width:90%;
    border:0;
    border-bottom: 1px solid #ccc;
    margin:20px auto;
}

.copyright{
    text-align: center; 
}

.underline{
    width:100%;
    height:5px;
    background:#767676;
    border-radius: 3px;
    position: absolute;
    top:25px;
    left:0;
    overflow: hidden;
}

.underline span{
    width:15px;
    height:100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top:0;
    left:10px;
    animation:moving 2s linear infinite;
}

@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}

@media (max-width: 700px){
    footer{
        bottom:unset;
    }

    .col{
        flex-basis: 100%;
        
    }
    
    .col:nth-child(2), .col:nth-child(3){
        flex-basis: 100%;
    }

}


/* *{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
   
}


.navbar{
    background:rgb(0,0,0,0.5);
    margin-right:10px;
    height:50px;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position:sticky;
    top:0;
    z-index:999;
}

.navbar__container{
    display:flex;
    justify-content: space-between;
    height:80px;
    z-index:1;
    width:100%;
    max-width:1300px;
    margin: 0 auto;
    padding:0 50px;

}


.navbar__menu{
    display:flex;
    align-items: center;
    list-style: none;
}

.logo{
    height:40px;
    margin-top:13px;
}


.navbar__item{
    height:80px;
}

.navbar__links{
    color:#fff;
    display:flex;
    align-items: center;
    justify-content: center;
    width:125px;
    text-decoration: none;
    height:100%;
    transition: all 0.3s ease;
}

.navbar__btn{
    font-weight: bold;
    font-size: 15px;
    display:flex;
    justify-content:center ;
    align-items: center;
    padding:0 1rem;
    width:100%;
}

.button{
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding:10px 20px;
    height:100%;
    width:100%;
    border:none;
    outline:none;
    border-radius: 20px;
    background: #b42424;
    color:#fff;
    transition: 0.3s ease-in;
    
}   


.navbar__links:hover{
    color:rgb(224, 115, 115);
    transition:all 0.3s ease;
}

@media screen and (max-width:968px){
    .navbar__container a:not(:fifth-child){
        
        display:none;
    
    }
    .navbar__container{
        display:flex;
        justify-content: space-between;
        height:80px;
        z-index:1;
        width:100%;
        max-width: 1300px;
        padding: 0;

    }

    .navbar__menu{
        display:grid;
        grid-template-columns: auto;
        margin:0;
        width: 100%;
        position:absolute;
        top: -1000px;
        opacity:1;
        transition:all 0.5s ease;
        z-index: -1;
       
    }

    .navbar__menu.active{
        background:#131313;
        top:100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index:99;
        height:68vh;
        font-size: 1.6rem;
    }

    #navbar__logo{
        padding-left:25px;
    }

    .navbar__toggle .bar{
        width:25px;
        height:3px;
        margin:5px auto;
        transition: all 0.3s ease-in-out;
        background:#fff;
    }

    .navbar__item{
        width:100%;
    }

    .navbar__links{
        text-align: center;
        padding:2rem;
        width:100%;
        display:table;
    }

    .navbar__btn{
        padding-bottom:2rem;
    }
    .button{
        display:flex;
        justify-content: center;
        align-items: center;
        width:80%;
        height:80px;
        margin:0;
    }

    #mobile-menu{
        position:absolute;
        top:20%;
        right:5%;
        transform:translate(5%, 20%);
    }

    .navbar__toggle .bar{
        display:block;
        cursor:pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity:0;

    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
        
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
           
    }
}




.back-video{
    position: absolute;
    height:100vh;
    right:0;
    bottom:0;
    z-index:-1;
}

@media (min-aspect-ratio:16/9){
    .back-video{
        width:100%;
        height:auto;
    }
}
@media (max-aspect-ratio:16/9){
    .back-video{
        width:auto;
        height:100%;
    }
}

@media (max-width:768px){
    .text-box{
        margin:10px;
        margin-top: 170px;
        width:40px;
       
    }
    .text-box h1{
        font-size: 70px;
    }
   .text-box p{
    display:none;
   }
}



/*service cards*/

.wrapper{
    font-family: 'raleway';
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:#dcd2e9;

}

.wrapper h1{
    font-size:3rem;
    margin:25px 0;
    text-align: center;
    font-weight:600;
    color:rgb(9, 3, 44)
}

.content-box{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width:1000px;
    margin-top:30px;
}

.card{
    min-height: 10px;
    width:300px;
    padding:30px;
    border-radius: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    margin:10px 4px;
    box-shadow:0px 15px 30px rgba(0,0,0,0.2);
    transition:0.3s;
}

.card i{
    margin:20px;
    font-size:40px;
    color:#ff5724;

}

.card h2{
    margin-bottom: 12px;
    font-weight:400;
    text-align: center;
}

.card p{
    color:#6c757d;
    text-align: center;

}

.card:hover i,
.card:hover p{
    color:#fff;
}

.card:hover h2{
    font-weight:600;
    color:#f2f2f2;
}

.card:nth-child(1):hover{
    background:linear-gradient(45deg,
                                 rgba(255,28,8,0.7) 0%,
                                    rgba(255,0,82,0.7)100%),
                                    url('images/P1.jpg');
    background-size: cover;       
}

.card:nth-child(2):hover{
    background:linear-gradient(45deg,
                                 rgba(255,28,8,0.7) 0%,
                                    rgba(255,0,82,0.7)100%),
                                    url('images/P1.jpg');
    background-size: cover;       
}

.card:nth-child(3):hover{
    background:linear-gradient(45deg,
                                 rgba(255,28,8,0.7) 0%,
                                    rgba(255,0,82,0.7)100%),
                                    url('images/P1.jpg');
    background-size: cover;       
}

.card:nth-child(4):hover{
    background:linear-gradient(45deg,
                                 rgba(255,28,8,0.7) 0%,
                                    rgba(255,0,82,0.7)100%),
                                    url('images/P1.jpg');
    background-size: cover;       
}

.card:nth-child(5):hover{
    background:linear-gradient(45deg,
                                 rgba(255,28,8,0.7) 0%,
                                    rgba(255,0,82,0.7)100%),
                                    url('images/P1.jpg');
    background-size: cover;       
}

.card:nth-child(6):hover{
    background:linear-gradient(45deg,
                                 rgba(255,28,8,0.7) 0%,
                                    rgba(255,0,82,0.7)100%),
                                    url('images/P1.jpg');
    background-size: cover;       
}

@media(max-width:991px){

    .wrapper{
        padding:25px;
    }

    .wrapper h1{
        font-size: 2.5em;
        font-weight: 600;
    }

    .content-box{
        flex-direction: column;
        width:100%;
    }

    .card{
        min-width:300px;
        margin:10px auto;
    }

}

/*location*/

.location{
    background:#dcd2e9;
    height:100%;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    
   
}

.location__wrapper{

    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr;
}
h1{
    color:#333;
    margin-bottom: 10px;
}

iframe{
    width:50%;
    height:400px;
    margin:0;
}


/*Features section*/


h1{
    
    font-size: 45px;
    margin-top: 10px;
}
h4{
    margin-top:20px;
}
.row{
    text-align: center;
    padding-top:50px;
    width:1000px;
    margin:auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.box{
    width:320px;
    height:400px;
    background:#dcd2e9;
    border-radius:20px;
    margin-bottom: 30px;
}
.box h3{
    font-size: 25px;
    padding-top:20px;
}
.box p{
    padding-top:20px;
    line-height: 25px;
}
.box .btn{
   width:150px;
   height:40px;
   background:#bd0808;
   border-radius: 10px;
   border:none;
   color:#fff;
   font-size:17px;
   cursor:pointer;
   font-weight:bold;
   margin-top:20px;
}

.box .btn:hover{
    background: #fff;
    color:#2e937a;
    border:1px solid #2e937a;
}




/*Footer section*/
.footer__wrapper{
    background:#dcd2e9;
}
footer{
    width:100%;
    bottom: 0;
    background:linear-gradient(to right, #00093c, #2d0b00);
    color:#fff;
    padding: 100px 0  30px;
    border-top-left-radius: 125px;
    font-size:13px;
    line-height: 20px;
}

.row{
    width:85%;
    margin:auto;
    display:flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col{
    flex-basis: 25%;
    padding:10px;
}

.col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}

.logo{
    width:80px;
    margin-bottom:30px;
}

.col h3{
    width:fit-content;
    margin-bottom: 40px;
    position: relative;
}

.email-id{
    width:fit-content;
    border-bottom: 1px solid #ccc;
    margin:20px 0;
}

ul li{
    list-style:none ;
    margin-bottom:12px;
}

ul li a{
    text-decoration: none;
    color:#fff;
}

form{
    padding-bottom: 15px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:1px solid #fff;
    margin-bottom:50px;
}

form .far{
    font-size: 18px;
    margin-right: 10px;
}

form input{
    width:100%;
    background: transparent;
    color:#ccc;
    border:0;
    outline:none;
}

form button{
    background: transparent;
    border:0;
    outline:none;
    cursor:pointer;

}

form button .fas{
    font-size: 16px;
    color:#ccc;
} 

.social-icons .fab{
    text-decoration: none;
    width:40px;
    height:40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color:rgb(0, 0, 0);
    background:#fff;
    margin-right:15px;
    cursor:pointer;
}

hr{
    width:90%;
    border:0;
    border-bottom: 1px solid #ccc;
    margin:20px auto;
}

.copyright{
    text-align: center; 
}

.underline{
    width:100%;
    height:5px;
    background:#767676;
    border-radius: 3px;
    position: absolute;
    top:25px;
    left:0;
    overflow: hidden;
}

.underline span{
    width:15px;
    height:100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top:0;
    left:10px;
    animation:moving 2s linear infinite;
}

@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}

@media (max-width: 700px){
    footer{
        bottom:unset;
    }

    .col{
        flex-basis: 100%;
        
    }
    
    .col:nth-child(2), .col:nth-child(3){
        flex-basis: 100%;
    }

} 